#collection-container{
	/* border: 1px solid red; */
	margin-top: 50px;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}

.book-container{
	border: 3px solid black;
	border-radius: 20px;
	width: 300px;
	margin: 10px;
}
.book-container:hover{
	cursor: pointer;
	background-color: rgba(2, 2, 2, 0.2);
}

.image-container img{
	width: 200px;
	margin: 20px;
	margin-bottom: 50px;
}

.book-name{
	font-size: 23px;
	margin: 0px 10px;
	font-weight: bold;
	/* text-align: left; */
}

.author-name{
	margin: 5px;
	font-size: 18px;

}